<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.boot.mapper.BoardMapper">

	<select id="cnt" resultType="int">
		SELECT COUNT(*) FROM BOARD
	</select>
	
	<select id="getList" resultType="com.spring.boot.dto.BoardDTO">
		<![CDATA[
		SELECT rownum, id, title, detail, writedate, writername, modifydate, modifyname, filename, filepath, originfilename FROM 
			(SELECT a.*,ROW_NUMBER() OVER(ORDER BY ID DESC) AS rnum FROM BOARD a) 
		WHERE 1=1
		AND rnum >= #{pageIdx} 
		AND rnum <= #{listLength}
		]]>
	</select>
	
	<select id="detail" resultType="com.spring.boot.dto.BoardDTO" parameterType="int">
		SELECT * FROM BOARD
		WHERE 1=1
		AND ID = #{id}
	</select>
	
	<update id="update">
		UPDATE BOARD
		SET
		TITLE = #{title},
		DETAIL = #{detail},
		MODIFYDATE = SYSDATE,
		MODIFYNAME = #{modifyName}
		WHERE ID = #{id}
	</update>
	
	<insert id="save" >
	INSERT INTO BOARD (ID, TITLE, DETAIL, WRITEDATE, MODIFYDATE, WRITERNAME, MODIFYNAME)
	VALUES
	(board_seq.NEXTVAL,
	#{title},
	#{detail},
	sysdate, sysdate, 
	#{writerName},
	#{modifyName})
	</insert>
	
	<delete id="delete">
	DELETE FROM BOARD
	WHERE ID = #{id}
	</delete>
	
	<select id="currunt" resultType="int">
		SELECT id FROM 
			(SELECT * FROM BOARD ORDER BY id DESC)
		WHERE 1=1
		AND rownum = 1
	</select>
	
	<update id="updateFile">
		UPDATE BOARD
		SET
		FILENAME = #{filename},
		FILEPATH = #{filepath},
		ORIGINFILENAME = #{originFileName}
		WHERE ID = #{id}
	</update>
	
	<insert id="insertData" parameterType="com.spring.boot.dto.BoardDTO">
		insert into board (num,name,pwd,email,subject,content,ipAddr,
		hitCount,created) values (#{num},#{name},#{pwd},#{email},#{subject},
		#{content},#{ipAddr},0,sysdate)
	</insert>
	 

</mapper>