<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="img/favicon.ico" />
        <style type="text/css">
        	.btnArea{
        		display: inline-block;
        	}
        </style>
<meta charset="UTF-8">
<title>create</title>
</head>
<body>
	<div class="container" style="width: 50%;">
		<table id="table" style="width: 100%;">
			<tr>
				<th colspan="2">제목<br><input id="title" style="width: 100%;"></th>
			</tr>
			<tr>
				<th colspan="2">내용<br><textarea id="detail" style="width: 100%;" rows="30;"></textarea></th>
			</tr>
		</table>
		<div class="btnArea">
			<button type="button" id="btnBack">뒤로가기</button>
		</div>
		<div class="btnArea" style="float: right;">
			<input type="file" multiple name="file" />
			<button type="button" id="btnInsert">등록</button>
		</div>
	</div>
</body>
<script src="/js/board/create.js"></script>
</html>