<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- Favicon-->
<link rel="icon" type="image/x-icon" href="img/favicon.ico" />
<link rel="stylesheet" type="text/css" href="../css/common.css"/>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" />  
<script src="https://code.jquery.com/jquery-3.6.4.slim.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
<meta charset="UTF-8">
<title>List</title>
</head>
<body>
	<div class="container">
		<h3 id="cnt"></h3>
		<table id="table" border="1px solid black;">
		</table>
		<div id="page">
			<a hidden id="prev" href="javascript:void(0);" onclick="main.prePage(this);">[이전]</a>
			<a id="next" href="javascript:void(0);" onclick="main.nextPage(this);">[다음]</a>
		</div>
		<div id="searchArea">
			<select id="searchType" onchange="">
				<option value="">선택</option>
				<option value="id">ID</option>
				<option value="title">제목</option>
				<option value="modifyName">게시자</option>
				<option value="modifyDate">게시일</option>
			</select>
			<input id="datePicker" hidden onkeyup="main.enter();">
			<input id="searchWord" onkeyup="main.enter();">
			<button id="btnSearch" onclick="main.search();">검색</button>
		</div>
		<button type="button" id="btnBack">뒤로가기</button>
		<button type="button" id="btnLogout" hidden>로그아웃</button>
		<button type="button" id="btnCreate"><a href="/create" style="text-decoration-line: none;">등록</a></button>
	</div>
</body>
<script src="/js/board/list.js"></script>
</html>